<section class="text-center container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1>SELAMAT DATANG</h1>
      <p>SELAMAT BERGABUNG DENGAN MITRA DONASI LUQMAN AL-HAKIM</p>
      <img src="/luhaku.png" alt="Placeholder image" width="400">
      <p class="lead text-muted">“Sesungguhnya Allah itu mempunyai keluarga yang terdiri daripada manusia…” Kemudian Anas berkata lagi, “Siapakah mereka itu wahai Rasulullah?” Baginda manjawab, “yaitu ahli Qu’ran (orang yang membaca atau menghafal Qur’an dan mengamalkannya). Mereka adalah keluarga Allah dan orang-orang yang istimewa bagi Allah.” (HR. Ahmad)</p>
      <p>
      <a href="<%=new_user_session_path%>" class="btn btn-primary my-2">LOGIN</a>
      </p>
    </div>
  </div>
</section>